.button {
  width: 270px;
  height: 50px;
  border: 1px solid #e4e4e4;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e4e4e4;
  transition: 200ms ease-in-out;
}

.buttonText {
  font-size: 16px;
  font-weight: 500;
}

.button:hover {
  border: 1px solid #2da2dc;
  color: #2da2dc;
  box-shadow: 1px 1px 10px 1px #2da2dc;
  cursor: pointer;
}
